
.text-gray {
    color: #aaa
}

.masthead {
    height: 50vh;
    min-height: 500px;
    background-image: url("back.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

