#logo {
    position:relative;
    margin-left: 36%;
    margin-top:2%;
    width: 30%;
}

#login-form {
    font-family: "Lato", sans-serif;
    position: relative;
    margin-top: 20%;
    margin-left: 50%;
    width: 35%;
    margin: 5% auto;
    font-size: 26px;

}

#login-form input[type="text"] {
    width: 80%;
    margin: 10px auto;
    display: block;
    font-size: 26px;
    padding: 5px;
    text-align: center;
}

#login-form input[type="password"] {
    width: 80%;
    margin: 10px auto;
    display: block;
    font-size: 26px;
    padding: 5px;
    text-align: center;
}

#login-form input[type="submit"] {
    width: 45%;
    margin: 20px auto;
    display: block;
    font-size: 26px;
    border: 2px solid black;
    color: black;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;

}

#login-form input[type="submit"]:hover {
    color: white;
    background-color: #ffb655;
}

#register-link {
    color: black;
    display: block;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

#register-link:hover{
    color:#ffb655;
}