<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Logowanie</title>
  <link rel="stylesheet" href="/commons.css">
  <link rel="stylesheet" href="/login.css">
</head>
<body>
<div th:replace="fragments.html :: logo"></div>

<div>
<form id="login-form" method="post">
  <input type="text" placeholder="Login" name="login" th:field="*{userModel.login}">
  <input type="password" placeholder="Hasło" name="pass" th:field="*{userModel.pass}">
  <input type="submit" value="Zaloguj">
  <a href="/register" id="register-link">Nie masz konta? Zarejestruj!</a>
</div>
</form>
</body>
</html>